<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.Core" version="4.0.0.1" targetFramework="net40" />
  <package id="HtmlAgilityPack" version="1.11.3" targetFramework="net40" />
  <package id="Jint" version="2.11.58" targetFramework="net472" />
  <package id="ScrapySharp" version="2.6.2" targetFramework="net40" />
  <package id="Vikings.CodeSite.Extensions" version="1.0.0.2" targetFramework="net472" />
  <package id="Vikings.System.Extensions" version="1.0.0.6" targetFramework="net472" />
</packages>